AWS_ACCESS_KEY_ID={{ openclaw_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ openclaw_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ openclaw_backup_aws_region }}
MOSQUITTO_HOST={{ openclaw_backup_mosquitto_host }}
MOSQUITTO_USERNAME={{ openclaw_backup_mosquitto_username }}
MOSQUITTO_PASSWORD={{ openclaw_backup_mosquitto_password }}
SERVICE_NAME={{ openclaw_service_name }}
BUCKET_NAME={{ openclaw_backup_bucket_name }}
OPENCLAW_HOME={{ openclaw_home }}
